{% extends 'Papers/base.html' %}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block title %}{{ blogName }}{% endblock %}

{% block page_header %}
            <h1 class='display-6'>Edit this post</h1>
{% endblock page_header %}

{% block content %}



    
  


<form action="{% url 'Papers:updatePost' post.id %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form   %}
    
    {% bootstrap_button button_type="submit" content="Save" %}
    <a class="btn btn-primary" href="{% url 'Papers:index' %}">Cancel</a>

   
     
</form>


{% endblock content %}
