{% extends 'Papers/base.html' %}

{% block title %}{{ blogName }}{% endblock %}

{% block page_header %}
            <h1 class='display-6'>{{ post|title }}</h1>
            <small class="text-muted">{{ post.author}} - {{ post.category }} - {{ post.date_added|date:'M d, Y H:i' }}</small>
            {% if user.is_authenticated %}
             <small>| <a class="text-muted" type="button"  href="{% url 'Papers:updatePost'  post.id %}">Edit</a></small>
                    
                <small>| <a class="text-muted" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a></small>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Are you sure you want to delete this post?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="{% url 'Papers:delete'  post.id %}" style="width: 100px;" >OK</a>
                            </div>
                        </div>
                        </div>
                    </div>
            {% endif %}
{% endblock page_header %}

{% block content %}
        {% if post.status == 0 %}
        <div class="alert alert-warning" role="alert">
            This post is not published yet.
           
        </div>
        {% endif %}
        
        
        <div class="alert alert-success" role="alert">         
            <p>{{ post.abstract|linebreaksbr }}</p>

          </div>
        <div>
            <p> {{ post.get_content_as_markdown|linebreaksbr }}</p>
        </div>
{% endblock content %}

